@model Rate_Restaurants_App.Models.Restaurant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="column">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="column">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            @foreach (var tag in Model.Tags)
            {
                @: @tag.Name <br/>
            }
        </dd>
    </dl>
    
    <p>
        <a asp-action="AddReview" asp-route-id="@Model.RestaurantId">Add Review</a>
    </p>
    <dt>
                @Html.DisplayNameFor(model => model.Reviews)
            </dt>
            <dd>
                <table class="table">
                    <tr>
                        <th>Rating</th>
                        <th>Text</th>
                        <th>User</th>
                    </tr>
                    @foreach (var item in Model.Reviews!)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Text)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author!.UserName)
                            </td>
                            <td>
                                <p>
                                    <a asp-controller="Review" asp-action="Details" asp-route-id="@item.ReviewId">Review details</a>
                                </p>
                            </td>
                        </tr>
                    }
                </table>
            </dd>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RestaurantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
